a {
  color: red;
}

.txtMain {
  color: rgb(82, 88, 213);
  font-size: 50px;
  font-weight: bold;
  display: block;
}
.myBg {
  background-color: black;
}
.txtTest {
  font-size: 30px;
  color: pink;
  font-weight: bold;
}
.btn1 {
  color: red;
}
#testId101 {
  font-size: 50px;
}

.txtBrandName1 {
  border: 1px solid black;
  color: red;
  width: 100px;
  height: 100px;
}
